.nft {

    display: flex;
    flex: 1;
    height: 100%;
    background-color: var(--accent-yellow);
    align-items: center;
    justify-content: center;

    padding: 24px;

    &__corner {
        position: absolute;
        right: 0;
        top: 0;
        padding: 20px;

        @include respond-to-phone(large) {
            display: none;
        }

        &__state {
            position: relative;
            border-radius: 3px;
            // width: 55px;
            height: 26px;
            padding: 0 9px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--text-primary);

            span {
                letter-spacing: 0.4px;
                font-size: 21px;
                font-weight: 590;
                color: var(--accent-yellow);
                font-family: var(--font-sf-pro);
            }
        }
    }


    &__container {


        width: 392px;
        height: 536px;

        @include respond-to-phone(large) {
            height: 650px;
        }

        position: relative;


        &__status {
            img {
                border-radius: 3px;
                box-shadow: var(--box-shadow);
            }

            display: none;
            position: absolute;
            top: -56px;

            padding: 10px;
            gap: 10px;
            left: 50%;
            transform: translateX(-50%);

            @include respond-to-phone(large) {
                display: flex;
            }
        }
    }



    &__card {
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 100;
        flex-direction: column;
        display: flex;
        border-radius: 25px;
        border: 1px solid var(--starlight-secondary);
        background: var(--space-light-secondary);
        box-shadow: var(--box-shadow);
        backdrop-filter: blur(10px);
        padding: 22px;
        padding-top: 0;
        gap: 30px;


        &__cta {
            display: flex;
            height: 70px;


            border-radius: 13px;
            background-color: var(--color-white);
            align-items: center;
            justify-content: center;
            //  color: var(--text-primary);
            color: var(--text-opacity);

            font-family: var(--font-sf-pro);
            font-size: 17px;
            font-style: normal;
            font-weight: 650;
            line-height: 22px;
            position: relative;
            display: none;

            @include respond-to-phone(large) {
                display: flex;
            }


            svg {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 0;
            }

            span {
                color: var(--text-primary);
                margin-left: 4px;
            }
        }

        &__section {
            display: flex;
            flex-direction: column;
            gap: 15px;

            flex: 1;

            &__bio {
                display: flex;
                height: 80px;
                font-family: var(--font-sf-pro);
                font-size: 17px;
                font-style: normal;
                font-weight: 510;
                line-height: normal;
                letter-spacing: -0.08px;
                color: var(--starlight-dark);
            }

            &__container {
                align-items: center;
                display: flex;
                gap: 10px
            }

            &__placeholder {
                width: 50px;
                height: 50px;
                background-color: orangered;
                display: flex;
                border-radius: 1000px;
            }

            &__text {
                display: flex;
                flex-direction: column;
            }

            &__meta {
                flex-direction: column;
                display: flex;
                margin-top: auto;
                flex: 1
            }
        }




        &__images {
            height: 154px;
            margin-top: 35px;
            perspective: 350px;
            margin-bottom: 30px;

            img {
                position: absolute;
                border-radius: 2px;
                box-shadow: 0px 2px 16px 0px var(--color-shadow);
                //  background-color: black;
            }

            &__1 {
                left: 50%;
                transform: translateX(-50%);
                z-index: 10;
            }


            &__2 {
                left: calc(50% + 55px);
                transform: translateX(-50%) translateZ(-100px);
                z-index: 5;
            }

            &__3 {
                right: calc(50% + 55px);
                transform: translateX(50%) translateZ(-100px);
                z-index: 5;

            }


            &__4 {
                right: calc(50% + 110px);
                transform: translateX(50%) translateZ(-200px);
                z-index: 2;
            }

            &__5 {
                left: calc(50% + 110px);
                transform: translateX(-50%) translateZ(-200px);
                z-index: 2;
            }

        }



        &__sticks {
            display: flex;
            gap: 5px;
            align-items: center;
            padding: 5px 10px;

            span {
                font-size: 17px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: -0.08px;
                color: var(--accent-yellow);
                font-family: var(--font-sf-pro);

                span {
                    color: var(--text-grey);
                    margin-left: 1px;
                }
            }
        }

        &__comment {
            display: flex;
            height: 50px;
            width: 100%;
            align-items: center;

            gap: 15px;

            &__item {
                display: flex;
                flex: 1;
                align-items: center;
                background-color: var(--white-comment);
                padding: 10px;
                border-radius: 13px;
                gap: 10px;

                &__placeholder {
                    background-color: greenyellow;
                    border-radius: 1000px;
                    width: 24px;
                    height: 24px;
                }

                span {
                    font-family: var(--font-sf-pro);
                    font-size: 17px;
                    font-style: normal;
                    font-weight: 510;
                    line-height: normal;
                    letter-spacing: -0.08px;
                    color: var(--starlight-dark);
                }

                svg {
                    margin-left: auto;
                }
            }
        }


        &__top {
            margin-top: 35px;
            display: flex;
            gap: 15px;
            justify-content: center;
            flex-direction: column;
            flex: 1;
        }

        &__image {
            height: 100%;
            width: 100%;
            // background-color: aqua;
            position: relative;
        }


        &__text {
            display: flex;
            gap: 5px;
            flex-direction: column;
            align-items: center;
        }

        &__meta {
            display: flex;
            flex-direction: column;
        }

        &__creator {
            font-family: var(--font-sf-pro);
            font-size: 17px;
            font-style: italic;
            font-weight: 590;
            line-height: normal;
            letter-spacing: -0.08px;
            color: var(--starlight-dark);
        }

        &__name {
            font-weight: 760;
            font-family: var(--font-sf-pro);
            font-size: 21px;
            letter-spacing: -0.08px;
        }


    }
}


.pyramid-img,
.crystall-img,
.leaf-img {
    z-index: 1;
    position: absolute;
}

.pyramid-img {

    left: -100px;
    top: -60px;
}

.crystall-img {

    right: -150px;
    top: 100px
}

.leaf-img {

    bottom: -50px;
    left: -90px;
}


.coin-fade {
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;

    border-radius: 100px;
}

.highlight {
    position: absolute;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.13);
    filter: brightness(70%) blur(20px);
    color: #333;
    font-weight: bold;
    left: -20%;
    top: -13%;
}

.nft__container * {
    pointer-events: none;
}