.nft {
    &__container {
        display: flex;
        flex: 1;
        height: 100%;
        background-color: var(--accent-yellow);
        align-items: center;
        justify-content: center;
    }







    &__card {
        &__name {
            font-weight: 760;
            font-family: var(--font-sf-pro);
            font-size: 21px;
            letter-spacing: -0.08px;
        }

        width: 392px;
        height: 589px;
        display: flex;
        border-radius: 25px;
        border: 1px solid var(--starlight-secondary);
        background: var(--space-light-secondary);
        box-shadow: var(--box-shadow);
        backdrop-filter: blur(10px);
    }
}