.blog {
    box-sizing: border-box;
    font-family: var(--font-sf-pro);
}




.blog-sections {
    display: flex;
    padding: 60px 75px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}


.blog-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.blog-all {
    margin-bottom: 500px;
    display: flex;
    flex-direction: column;
    background-color: #050915;
    border-radius: 20px;
    padding: 10px;
    max-width: 1200px;
}

.blog-item {
    display: flex;
    gap: 20px;
    padding: 10px;
    border-radius: 20px;
    background: #050915;

    &__left {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 776px;

        h3 {
            font-size: 38px;
            font-style: normal;
            font-weight: 650;
            line-height: 40px;
            color: var(--white-headings);
        }

        p {
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            color: var(--white-headings);
        }
    }
}


.featured {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #212121;
    border-radius: 20px;

    gap: 10px;


    &__forward {
        width: 74px;
        height: 74px;
        align-items: center;
        justify-content: center;
        display: flex;
        margin-top: auto;
        margin-left: auto;

        svg {
            transform: scaleX(-1);
        }
    }

    &__meta {
        display: flex;
        gap: 10px;
        align-items: center;
        font-size: 26px;
        font-style: normal;
        font-weight: 510;
        line-height: 30px;
        color: var(--white-badge-text);
    }

    &__main {
        display: flex;
        gap: 10px;
        position: relative;
        padding: 10px;
        border-radius: 10px;
        background-color: var(--accent);

        img {

            //    min-width: 700px;
            border-radius: 10px;
            overflow: hidden;
        }
    }

    &__title {
        font-size: 30px;
        font-style: normal;
        font-weight: 590;
        line-height: 36px;
        letter-spacing: -1.35px;
        color: var(--white-badge-text);
    }

    &__right {
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-color: #212121;
        border-radius: 10px;
        padding: 10px;

        h3 {
            font-size: 48px;
            font-style: normal;
            font-weight: 650;
            line-height: 52px;
            color: var(--white-headings);
        }
    }
}