.cookie-consent {
    display: flex;
    flex-direction: column;
    width: 479px;
    padding: 20px;

    border-radius: 20px 0px 0px 20px;

    border: 2px solid rgba(255, 248, 231, 0.80);
    background: #050915;

    @include media-sm {
        width: 100%;
    }


    .accept-cookie {
        background-color: var(--accent);
        color: rgba(5, 9, 21, 1);

        position: relative;

        // span {
        //     position: absolute;
        //     left: 50%;

        //     width: 100%;
        //     transform: translateX(-50%);
        // }

        span {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .wallet-item__title__arrow {
            position: absolute;
            right: -20px;
            color: rgba(5, 9, 21, 1) !important;

            @include media-sm {
                display: none;
            }
        }

        &:hover .wallet-item__title__arrow {


            opacity: 1;


            transform: translateX(3px);

        }






        &:active .wallet-item__title__arrow {
            transform: translateX(6px);

        }
    }

    .decline-cookie {
        .wallet-item__title__arrow {
            display: none;
        }

        transition: all .3s ease-in;
        color: rgba(255, 248, 231, 0.8);
        border: 1px solid rgba(255, 248, 231, 0.80);

        &:hover {
            color: rgba(255, 248, 231, 1);
            border: 1px solid rgba(255, 248, 231, 1);
        }

        &:active {
            color: var(--accent);
            border: 1px solid var(--accent);
        }
    }


    .accept-cookie,
    .decline-cookie {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        height: 42px;

        font-size: 17px;
        font-style: normal;
        font-weight: 590;
        line-height: 20px;
        /* 117.647% */
        text-transform: uppercase;
    }

    &__container {




        display: flex;
        position: fixed;
        z-index: 9999;
        right: 20px;

        @include media-sm {
            right: 15px;
            left: 15px;
        }

        bottom: 30px;
        font-family: var(--font-sf-pro);
        gap: 10px;

    }

    .consent-text {
        display: flex;
        flex-direction: column;

        gap: 5px;

        h4 {
            font-size: 18px;
            font-style: normal;
            font-weight: 590;
            line-height: 22px;
            letter-spacing: -1px;
            color: var(--accent)
        }

        span {
            font-size: 14px;
            font-style: normal;
            line-height: 20px;
            color: rgba(255, 248, 231, 0.8);

            a {
                color: var(--accent);

                &:hover {
                    text-decoration: underline;
                }
            }
        }




    }

    .consent-btn-wrapper {
        display: flex;
        width: 100%;
        gap: 10px;
        margin-top: 20px;
    }
}

.consent-cross {
    display: flex;
    border-radius: 0px 15px 15px 0px;
    border: 2px solid rgba(255, 248, 231, 0.80);
    background-color: #050915;
    width: 60px;
    padding: 20px 5px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    color: rgba(255, 248, 231, 0.8);

    svg {
        transition: all .3s ease-in;
    }

    &:hover {
        color: rgba(255, 248, 231, 1);
    }

    &:active {
        color: var(--accent);
    }
}

.consent-overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}