NEXT_PUBLIC_PRIVY_KEY=your_privy_app_id
NEXT_PUBLIC_CLIENT_ID=your_privy_client_id

GMAIL_USER=your_email@gmail.com
GMAIL_PASS=your_gmail_app_password

MAILCHIMP_API_KEY=your_mailchimp_api_key
MAILCHIMP_SERVER_PREFIX=us16
MAILCHIMP_AUDIENCE_ID=your_audience_id

TELEGRAM_BOT_TOKEN=your_telegram_bot_token
TELEGRAM_CHAT_ID=your_telegram_chat_id

NEXT_PUBLIC_RECAPCHA_KEY=your_recaptcha_site_key
RECAPCHA_BACKEND_KEY=your_recaptcha_secret_key

SANITY_WEBHOOK_SECRET=your_sanity_webhook_secret

DATABASE_URL="postgresql://user:password@host/dbname?sslmode=require"
DIRECT_URL="postgresql://user:password@host/dbname?sslmode=require"

NEXT_PUBLIC_BASE_MAINNET_RPC=https://base-mainnet.g.alchemy.com/v2/your_alchemy_key
NEXT_PUBLIC_BASE_SEPOLIA_RPC=https://base-sepolia.g.alchemy.com/v2/your_alchemy_key

# Your contract addresses
NEXT_PUBLIC_CONTRACT_BASE_SEPOLIA="0x..."
NEXT_PUBLIC_CONTRACT_BASE="0x..."

# active: baseSepolia | base
NEXT_PUBLIC_ACTIVE_CHAIN="base"

NEXT_PUBLIC_THIRDWEB_CLIENT_ID=your_thirdweb_client_id
