.blog-button {
    border-radius: 10px;
    padding: 10px 20px;
    gap: 10px;
    background-color: var(--white-btn);
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-sf-pro);
    font-weight: 650;

    &--accent {
        color: var(--accent);
    }
}