.section-mockups {
    padding: 60px 30px 20px 30px;
    background-color: #0a0a0a;
    width: 100%;
    display: flex;

    @include media-xl {
        margin-top: 200px;
    }

    @include media-sm {
        display: none;
    }

    &__screenshots {
        width: 100%;
        display: flex;
        height: fit-content;
        gap: 20px;
        justify-content: space-between;
        padding: 0 40px;
        margin-top: 30px;

        img {
            width: 100%;
            height: auto;
            min-width: 0;
        }
    }

    &__container {
        overflow: hidden;
        width: 100%;
        gap: 50px;
        display: flex;
        height: 690px;
        padding: 40px 45px;
        border-radius: 20px;
        flex-direction: column;
        background-color: rgba(255, 248, 231, 0.10);
    }

    &__header {

        display: flex;
        justify-content: space-between;

        &__right {
            display: flex;
            flex-direction: column;
            gap: 5px;

            svg {
                width: 100%;
                height: auto;
            }
        }

        &__left {
            display: flex;
            flex-direction: column;
            // gap: 10px;

            &__top {
                display: flex;
                align-items: center;
                width: 100%;
                justify-content: space-between;
                align-items: center;

                span {
                    margin-bottom: 7px;
                    color: #FFF;
                    display: flex;
                    font-family: var(--font-sf-pro);
                    font-size: 38px;
                    font-style: normal;
                    font-weight: 590;
                    line-height: normal;
                    font-variant: all-small-caps;
                }
            }
        }
    }
}