.section-display {
    font-family: var(--font-sf-pro);
    display: flex;
    // height: 1117px;
    color: #FFF;
    flex-direction: column;
    align-items: flex-end;
    background-color: #000;
    position: relative;


    &__bottom {
        border-top: 4px solid #FFF;
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;

        &__viewport {
            width: 100%;
            overflow: hidden;
        }

        &__container {
            display: flex;
            align-items: center;
            margin-left: calc(30px * -1);
        }

        &__card {
            display: flex;
            margin-left: 30px;
            align-items: center;

            span {
                margin-left: 15px;
                margin-right: 5px;
                font-size: 23px;
                font-style: normal;
                font-weight: 760;
                line-height: normal;
                text-transform: uppercase;
            }
        }
    }

    &__center {
        display: flex;
        width: 100%;
    }

    &__welcome {
        position: absolute;
        left: 35px;
        right: 80px;
        top: 70px;
        z-index: 50;


        svg {
            width: 100%;
            height: auto;
            max-width: 1582px;
        }
    }

    &__top {
        display: flex;
        height: 130px;
        width: 100%;
        align-items: flex-end;
        justify-content: flex-end;

        &__right {
            display: flex;
            width: 50%;
            padding-right: 80px;
            justify-content: flex-end;
            padding-bottom: 5px;
            border-bottom: 4px solid #FFF;


            span {
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                text-transform: uppercase;
            }
        }
    }




    &__right {
        border-left: 4px solid #FFF;
        font-size: 23px;
        font-style: normal;
        font-weight: 650;
        line-height: 27px;
        writing-mode: vertical-rl;
        text-orientation: upright;
        width: 80px;
        padding: 20px;
        // justify-content: center;
        align-items: center;
        display: flex;

        span {
            font-family: var(--font-sf-pro);
            font-weight: 650;
        }
    }
}


.rombus {
    height: 120px;
    width: 100px;
    //  transform: skewX(-20deg);
    background-color: white;
    overflow: hidden;
    border-radius: 16px;
    transform: translate3d(0, 0, 0);
    margin-top: 5px;
    color: black;
    position: relative;
    cursor: pointer;

    &--logo {
        background-color: transparent;
        overflow: visible;
        cursor: default;
    }

    &--rounded {
        border-radius: 16px 32px;
    }
}

.rombus-section {
    display: flex;
    margin-left: 100px;
    gap: 5px;
    overflow: hidden;
    align-items: flex-end;
    justify-content: center;
    width: 1000px;
    height: 914px;
    padding-left: 190px;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background:
            linear-gradient(0deg, rgba(0, 0, 0, 0.00) 50%, #000 100%);
        // linear-gradient(270deg, rgba(0, 0, 0, 0.00) 50%, #000 100%);
        pointer-events: none; // Allow clicks to pass through to underlying elements
        z-index: 1;
    }

}

.rombus-container {
    //   gap: 5px;
    touch-action: pan-x pinch-zoom;
    //  display: flex;
    height: calc(5px + 900px);
    // height: 900px;
    //  margin-top: calc(5px * -1);
    padding-top: 5px;

    .rombus:nth-child(1) {
        margin-top: 0;
    }


    &__viewport {
        min-width: 100px;
        transform: skewX(-20deg);
        // overflow: hidden;
        height: 900px;
    }
}


.skeleton {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg,
            #f0f0f0 25%,
            #e0e0e0 37%,
            #f0f0f0 63%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
    z-index: 1;
}

@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }

    100% {
        background-position: 200% 0;
    }
}




.disk-section {
    display: flex;
    width: 650px;
    position: relative;
    overflow: hidden;


    &__radio {
        transform: rotate(-14.294deg);
        position: absolute;
        top: 220px;
        // left: -25px;


        &__eq {
            position: absolute;
            top: 80px;
            right: 34px;
            width: 127px;
            height: 119px;
            background-color: red;
        }
    }


    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(270deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);
        pointer-events: none;
        //    z-index: 1000;
        opacity: 0.5;

    }

    &__kiss {
        position: absolute;
        left: -180px;
        animation: rotateKiss 80s linear infinite;
    }

    &__car {
        position: absolute;
        bottom: -400px;
        left: -150px;
        animation: rotateCar 45s linear infinite;
    }
}


@keyframes rotateKiss {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotateCar {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
        /* Opposite direction */
    }
}