:root {
  --background: #0a0a0a;
  --foreground: #ededed;

  --color-shadow: rgba(0, 0, 0, 0.20);
  --starlight-secondary: rgba(255, 248, 231, 0.10);
  --starlight-card: rgba(147, 145, 142, 0.10);
  --starlight-dark: rgba(147, 145, 142, 0.80);
  --space-light-secondary: rgba(18, 22, 33, 0.80);
  --white-comment: rgba(255, 255, 255, 0.05);
  --box-shadow: 0px 2px 16px 0px var(--color-shadow);
  --accent-yellow: #FC0;
  --text-grey: #93918E;
  --sf-pro: var(--font-sf-pro);
  --text-primary: #050915;
  --text-opacity: rgba(18, 22, 33, 0.4);
  --color-white: rgba(255, 248, 231, 1);
  --text-secondary: #121621;
}

#privy-dialog-title {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  font-variant: all-small-caps;
}

#privy-dialog-backdrop {
  font-family: var(--font-sf-pro);
}

body {
  --privy-border-radius-sm: 10px !important;
  --privy-border-radius-md: 10px !important;
  --privy-border-radius-lg: 0px !important;
  --privy-border-radius-full: 5px !important;
  --privy-color-background: hsl(222deg 10.2% 19.22%) !important;
  --privy-color-background-2: hsl(222deg 9.99% 32.64%) !important;
  --privy-color-background-3: hsl(221.54deg 9.3% 43.53%) !important;
  --privy-color-foreground: hsl(39deg 28.57% 86.27%) !important;
  --privy-color-foreground-2: hsl(39deg 28.57% 86.27%) !important;
  --privy-color-foreground-3: hsl(58.85deg 5.96% 54.13%) !important;
  --privy-color-foreground-4: hsl(220deg 4.35% 27.06%) !important;
  --privy-color-foreground-accent: hsl(246deg 100% 50%) !important;
  --privy-color-accent: hsl(48deg 100% 50%) !important;
  --privy-color-accent-light: hsl(48deg 100% 50%) !important;
  --privy-color-accent-lightest: hsl(48, 100%, 75%) !important;
  --privy-color-accent-dark: hsl(48, 100%, 44%) !important;
  --privy-color-accent-darkest: hsl(228deg 10.42% 18.82%) !important;
  --privy-color-success: hsl(147, 43%, 52%) !important;
  --privy-color-error: hsl(7, 80%, 62%) !important;
  --privy-color-error-light: hsl(0deg 0% 100%) !important;
}


html {
  width: 100%;
  max-width: 100%;
  height: 100%;
}

body {
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
}


* {
  font-family: var(--font-sf-pro);
}

.grecaptcha-badge {
  display: none !important;
}


html {
  overflow-x: hidden;
  background-color: var(--background);
}

.main {
  //  overflow: hidden;
  max-width: 1780px;
  position: relative;
  // padding-top: 66px;

  @include media-sm {
    padding-top: 0;
  }

}

body {
  overflow-x: clip;
  display: flex;
  align-items: center;
  flex-direction: column;
}

input,
textarea {
  all: unset;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}


button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  box-shadow: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
}


html {
  width: 100vw;
}


.main {
  background-color: #0a0a0a;
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 100%;
  border-left: 4px solid #FFF;
  border-right: 4px solid #FFF;

  @include media-sm {
    border: none;
    overflow-x: hidden;
  }
}



.remove-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &--active {
    #footer {
      display: none;
    }
  }
}



.blog-not-found {
  display: flex;
  position: relative;
}