:root {
    --white: #ffffff;
    --white-btn: rgba(255, 255, 255, 0.20);
    --white-badge: rgba(255, 255, 255, 0.10);
    --white-badge-text: rgba(255, 255, 255, 0.50);
    --white-headings: rgba(255, 255, 255, 0.80);
    --white-paragraph: rgba(255, 255, 255, 0.60);
    --accent: #FC0;


    --blog-section: #050915
}