.wallet-dropdown {
    display: flex;
    position: absolute;
    width: 426px;
    height: 190px;
    border-radius: 10px;
    gap: 10px;
    padding: 10px;
    background: #121621;

    top: 70px;
    right: 0;

    z-index: 1000;


    &__wrapper {
        position: relative;
        display: flex;


        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: -50px;
            z-index: -1;
        }



        // Ensure .wallet-chev is the container holding <ChevDown />
        .wallet-chev {
            transition: transform 0.3s ease;
            transform: rotate(0deg);

            &--hover {
                transform: rotate(180deg);
            }
        }




    }

    h4 {
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
        color: white;
        text-align: start;
        position: relative;
        overflow: hidden;
    }

    p {
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        color: #A5A29C !important;
        text-align: start;
    }

    &__header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__funds {
        height: 100%;
        aspect-ratio: 1;
        position: relative;
        padding: 25px 15px;
        gap: 7px;
        display: flex;
        flex-direction: column;

        svg {
            width: 26px;
            height: 26px;
        }


        &::before {
            border-radius: 4px;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(189deg, #0232F8 2.16%, #050915 85.14%);
            opacity: 1;
            transition: opacity 0.2s ease;
            z-index: -1;
        }

        &:hover::before {
            opacity: 0.8;
        }

        &:hover::before {
            opacity: 0.6;
        }
    }



    &__right {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;

    }

    &__chain {}

    &__logout {}

    &__chain,
    &__logout {
        padding: 10px;
        flex: 1;
        border-radius: 4px;
        transition: all .2s ease;

        p {
            width: 100%;
            text-align: start;
            padding-right: 30px;
        }

        &:hover {
            background-color: rgba(147, 145, 142, 0.10);
        }

        &:active {
            background-color: rgba(147, 145, 142, 0.20);
        }
    }
}


.section-beta__header {
    display: flex;
    padding: 10px;
    border-radius: 10px;
    background: #121621;
    width: 100%;
    max-width: 1100px;
    align-items: center;



    &__wallet {
        display: flex;
        gap: 10px;
        align-items: center;

        .wallet-chev {
            position: relative;
            left: -2px;
            margin-right: 3px;

            svg {
                color: #71737A;
            }

            display: flex;
        }

        &__item {
            background-color: #E7E7E8;
            width: 36px;
            height: 36px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #121621;
            border-radius: 4px;
        }

        .white {
            color: #71737A;
        }



        span {
            color: #121621;

            font-size: 14px;
            font-style: normal;
            font-weight: 510;
            line-height: 20px;


        }

        .divider {
            height: 26px;
            width: 1px;
            background-color: #71737A;


        }

        @include media-sm {

            .white,
            .divider {
                display: none;
            }
        }
    }

    &__logo {
        margin-right: auto;
        gap: 0;
        width: fit-content;

        .section-sticker__iphone__text {


            h5 {
                color: #121621;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 0.4px;
            }

            span {
                font-size: 14px;
                font-style: normal;
                font-weight: 510;
                line-height: normal;
                font-variant: all-small-caps;
                letter-spacing: -0.43px;
            }
        }

        svg {
            width: 36px;
            height: 36px;
        }
    }
}


.section-beta__header__logo {
    gap: 10px;
}

.desktop-header {
    display: flex;
    position: sticky;
    //  left: 50%;
    // transform: translateX(-50%);
    top: 0;
    max-width: 1780px;
    width: 100%;
    z-index: 1000;
    padding: 20px;
    align-items: center;
    background-color: white;
    width: 100%;
    justify-content: space-between;
    font-family: var(--font-sf-pro);

    @include media-sm {
        display: none;
    }

    &__navigation {
        display: flex;
        align-items: center;
        gap: 15px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);


        &__item {
            gap: 4px;
            display: flex;
            color: #71737A;
            align-items: center;
            scale: .8;
            transition: all .2s ease-in-out;


            &:hover {
                color: #121621;
            }

            svg {
                transition: all .2s ease-in-out;
            }

            span {
                transition: all .2s ease-in-out;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                font-variant: all-small-caps;
                position: relative;
                bottom: 2px;
            }

            &--active {
                color: #121621;
                scale: 1;
            }
        }
    }
}