@import "./styles/media.scss";
@import "./fonts/coinbase-mono/stylesheet.css";
@import "./privacy/page.scss";
@import "./collection/[address]/[nft]/page.scss";
@import "../components/header/index.scss";
@import "../components/nexus/index.scss";
@import "../components/header/nexus-header.scss";
@import "../components/footer/index.scss";
@import "../components/collection/index.scss";
@import "./nexus/page.scss";






:root {
  --background: #ffffff;
  --foreground: #171717;

  --color-shadow: rgba(0, 0, 0, 0.20);
  --starlight-secondary: rgba(255, 248, 231, 0.10);
  --starlight-card: rgba(147, 145, 142, 0.10);
  --starlight-dark: rgba(147, 145, 142, 0.80);
  --space-light-secondary: rgba(18, 22, 33, 0.80);
  --white-comment: rgba(255, 255, 255, 0.05);
  --box-shadow: 0px 2px 16px 0px var(--color-shadow);
  --accent-yellow: #FC0;
  --text-grey: #93918E;
  --sf-pro: var(--font-sf-pro);
  --text-primary: #050915;
  --text-opacity: rgba(18, 22, 33, 0.4);
  --color-white: rgba(255, 248, 231, 1);
  --text-secondary: #121621;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100dvh;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}


button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  box-shadow: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}