.subscribe-field {

    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    padding: 45px 30px 30px 30px;

    gap: 30px;
    background-color: rgba(147, 145, 142, 0.20);

    @include media-sm {
        padding: 0;
        background-color: transparent
    }

    &__header {
        font-size: 20px;
        font-style: normal;
        font-weight: 540;
        line-height: 24px;
        color: rgba(255, 248, 231, 1);

        @include media-sm {
            display: none;
        }
    }



    &__input {
        display: flex;
        gap: 10px;
        align-items: center;
        overflow: hidden;
        background-color: transparent;
        border-radius: 10px;
        overflow: hidden;

        .footer__form__success {
            left: 0;
            bottom: 0;
            right: 0;
        }

        @include media-sm {
            flex-direction: column;
            gap: 20px;

            .email-submit {
                width: 100% !important;
            }
        }
    }

    &__cta {
        position: relative;
        display: flex;

        @include media-sm {
            width: 100%;
        }

        .footer__form__state {
            padding: 0;
            z-index: 1000;

        }

        .email-submit {
            width: 210px;
        }
    }
}


.form-input--error {
    background: rgba(235, 87, 87, 0.10);



    svg {
        color: rgba(235, 87, 87, 1) !important
    }
}

.footer__form__input__label {
    transition: all .3s ease-in;

    svg {
        transition: all .3s;
    }

    &:hover {
        svg {
            color: #FFF8E7;
        }
    }

    &:active,
    &:focus-within {
        svg {
            color: var(--accent);
        }
    }




    input,
    textarea {
        font-size: 16px;
        font-style: normal;
        font-weight: 510;
        line-height: normal;
        letter-spacing: -0.08px;

        &::placeholder {
            color: rgba(147, 145, 142, 1);
        }
    }
}

textarea {
    transition: all .3s ease-in;
    width: 100%;
    min-height: 160px;
    overflow: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
}