.round-holes {
    display: flex;
    height: 34px;
    width: 100%;
    position: relative;
    color: #121621;

    &__top,
    &__bot {
        height: 17px;
        overflow: hidden;
    }

    &__bot {
        .holes__center {
            position: relative;
            bottom: 17px;


        }

        svg {
            position: relative;
            top: -17px
        }

        .round-holes::after {
            top: 12px !important;
        }
    }

    &::after,
    &::before {
        content: "";
        position: absolute;
        left: 0px;

        right: 0px;
        height: 5px;
        background-color: #121621;
    }

    &::after {
        top: 0px;
    }

    &::before {
        bottom: 0px;
    }

    .rouded-hole {
        max-width: 24px;
        height: 24px;
        width: 100%;
        overflow: hidden;
        background-color: transparent;
        position: relative;


        &__gap {
            height: 34px;
            min-width: 7px;
            background-color: #121621;
        }

        &::after {
            content: "";
            position: absolute;
            left: -10px;
            top: -10px;
            right: -10px;
            bottom: -10px;
            border-radius: 1000px;
            border: #121621 solid 10px;
        }
    }

    .holes__center {
        overflow: hidden;
        width: 100%;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        align-items: center;
        // gap: 8px;
    }
}


.home {
    width: 100%;

    @include media-sm {
        display: flex;
        justify-content: center;
        padding: 0 10px;
    }
}

.section-sticker {
    display: flex;
    position: absolute;
    z-index: 30;
    max-width: 403px;
    width: 100%;
    //  height: 1000px;
    left: 20%;
    flex-direction: column;
    // overflow: hidden;
    align-items: center;

    @include media-sm {
        left: initial;
        position: relative;


        //  transform: translateX(-50%);
    }


    &__features-header {
        display: flex;
        padding: 15px;
        background: #121621;
        gap: 15px;
        flex-direction: column;
        width: 100%;
        height: 120px;
        justify-content: flex-end;

        svg {
            width: 100%;
            height: auto;
            transform-origin: left bottom;
            transform: rotate(-3.518deg);
        }

        &__slogan {
            display: flex;
            color: #888A90;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;

            gap: 7px;

            .star {
                color: #FC0
            }

            svg {
                width: initial;
                height: initial;
                transform-origin: center center;
                transform: rotate(90deg);
                margin-left: auto;
                color: hsba(0, 0%, 100%, 1);
            }


        }
    }


    &__h2 {
        display: flex;
        background: #121621;
        padding: 15px 15px 0px 15px;
        width: 100%;

        h2 {
            color: #FFF;

            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
        }
    }

    &__join {

        width: 100%;
        background-color: #121621;
        //  position: relative;
        height: 76px;

        .join-carousel {
            position: absolute;
            // width: 100vw;
            // left: ;
            display: block;
            width: 100vw;
            transform: translateX(-50%);
            left: 50%;
        }
    }



    &__artwork {
        height: 360px !important;
        padding: 15px;


        &::before {
            content: "";
            position: absolute;
            left: 15px;
            right: 15px;
            top: 15px;
            bottom: 15px;
            background-color: black;
        }

        .section-cta__artwork--phone {

            left: 0;
            min-width: 930px;
            top: 10px
        }
    }

    &__scene {
        height: 105px;
        width: 100%;
        background-color: #121621;
        position: relative;
        align-items: center;
        justify-content: center;
        display: none;

        @include media-sm {
            display: flex;
        }
    }


    &__initial {
        display: none !important;

        @include media-sm {
            display: flex;
        }
    }


    &__jap {
        transform-origin: left top;
        position: relative !important;
        width: 100%;
        // rotate: 30deg;
        // top: -9px;
        // left: 2px;
    }

    &__gradient {
        display: flex;
        padding: 8px;
        background-color: #121621;
        align-items: center;
        overflow: hidden;
        position: relative;
        height: 137px;

        &__text {
            z-index: 1000;
            padding: 0 17px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            color: #050915;

            h3 {

                font-size: 26px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                text-transform: uppercase;
            }

            svg {

                width: 20px;
                height: 20px;
            }

            span {

                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                text-transform: uppercase;
            }
        }

        &__img {
            position: absolute;
            left: 8px;
            top: 8px;
            right: 8px;
            bottom: 8px;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__iphone {
        display: flex;
        gap: 10px;
        align-items: center;


        &__text {
            display: flex;
            flex-direction: column;

            //      gap: 3px;

            h5 {
                color: #FFF;

                font-size: 21px;
                font-style: normal;
                font-weight: 590;
                line-height: 24px;
                letter-spacing: 0.4px;
            }

            &__sub {
                color: #888A90;

                font-size: 16px;
                font-style: normal;
                font-weight: 510;
                line-height: 19px;
                font-variant: all-small-caps;
                letter-spacing: -0.43px;
            }
        }
    }


    h3 {
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
    }

    h4 {
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
    }

    &__reimagine {
        svg {
            color: rgba(255, 255, 255, .5);
        }
    }

    &__barcode {

        &__container {
            max-height: 60px;
            width: 100%;
            overflow: hidden;

            svg {
                width: 100%;
                height: auto;

                overflow: hidden;
            }
        }
    }


    &__newsletter {
        .mint-submit {
            margin-top: 10px;
        }
    }

    &__reimagine,
    &__works,
    &__newsletter,
    &__logo,
    &__barcode {
        background-color: #121621;
        padding: 25px;
        gap: 10px;
        display: flex;
        flex-direction: column;
        width: 100%;


        @include media-sm {
            padding: 15px;
        }

        .arr-down {
            color: rgba(255, 255, 255, .5);
            transform: rotate(90deg);
        }

        p {
            font-size: 16px;
            font-style: normal;
            font-weight: 510;
            line-height: 24px;
            color: rgba(255, 255, 255, 0.80);
            letter-spacing: 0.48px;
        }

        span {
            color: rgba(255, 255, 255, .5);
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
        }
    }


    &__works {

        &__container {
            display: flex;
            touch-action: pan-y pinch-zoom;

            width: 100%;
            height: 275px;

        }

        &__viewport {
            overflow: hidden;
            background-color: black;
        }

        &__video {
            position: relative;
            width: 100%; // Explicitly ensures the element is as wide as its container
            flex: 0 0 100%; // Sets the flex-basis to 100% and prevents growing/shrinking
            min-width: 0;

            display: flex;
            align-items: center;
            justify-content: center;

            // video {
            //     position: absolute;
            //     left: 50%;
            //     top: 50%;
            //     transform: translateX(-50%) translateY(-50%);
            // }
        }

        .mint-submit {
            margin-top: 25px;
        }

        &__arrows {
            gap: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        button {
            span {
                color: rgba(255, 255, 255, 0.5);

                span {
                    color: rgba(255, 255, 255, 1);
                }
            }
        }

        span {
            color: rgba(255, 255, 255, 1);
        }


    }

    &__hollow {
        display: flex;
        height: calc(238px + 101px);
        width: 100%;
        background-color: #121621;

        @include media-sm {
            display: none;
        }
    }
}

.holes {
    display: flex;
    position: relative;
    height: 34px;
    width: 100%;

    svg {
        color: #121621;
    }

    &__flipped {
        transform: scaleX(-1);
    }

    &__center {
        display: flex;
        flex-direction: column;
        flex: 1;
        background-color: #121621;
    }





    &__top {
        border-bottom: 1px dashed #fff;
    }


    &__bot {
        &--mobile {
            display: none;

            @include media-sm {
                display: flex;
            }
        }
    }

    &__top,
    &__bot {
        display: flex;
        width: 100%;
        flex: 1
    }
}


.mint-submit--cta {
    position: relative;

    &:active {
        background-color: black !important;
    }

    transition: all 0.3s ease-in;


    /* Pseudo-element for the gradient background on hover */
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(88deg, rgba(255, 216, 59, 0.70) 0%, rgba(255, 105, 5, 0.70) 100%), #FC0;
        opacity: 0;
        transition: opacity 0.3s ease-in;
        z-index: 0;
    }

    &:hover::before,
    &:focus::before {
        opacity: 1;
    }

    /* Bring text above the pseudo-element */
    & span {
        position: relative;
        // z-index: 1;
        /* Set a transition if you want a smooth effect */
        transition: background 0.3s ease-in;
    }

    /* On hover or focus, reveal the gradient background behind the button */


    /* When the button is active, remove the pseudo-element's gradient background */
    &:active::before {
        opacity: 0;
    }

    /* When the button is active, apply the gradient to the text */
    &:active span {
        background: linear-gradient(88deg, #FC0 0%, #FF9305 100%);
        background-clip: text;
        -webkit-background-clip: text;
        /* Makes sure the text itself appears transparent so the gradient shows */
        -webkit-text-fill-color: transparent;
    }

    &:active svg {
        color: #FF9305
    }
}

.icon-small {
    color: rgba(255, 255, 255, 0.5);

    svg {
        width: 20px;
        height: 20px;
    }
}



.arrow-down {
    svg {
        color: rgba(255, 255, 255, .5);
        transform: rotate(90deg);
    }
}


.arrow-border {
    border-bottom: 2px dashed rgba(255, 255, 255, .5);
    max-width: 220px;
    width: 100%;
}