.footer {
    padding: 20px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    flex-direction: row;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    align-items: center;

    @include respond-to-phone(large) {
        // Adjustments for screens smaller than 1000px
        display: none;

    }

    &__code {
        border-radius: 8px;
        background-color: var(--text-primary);
        width: 100px;
        height: 100px;
        align-items: center;
        justify-content: center;
        display: flex;
        position: relative;
    }

    &__logo {
        height: 72px;
        display: flex;
        gap: 10px;
        align-items: center;

        img {
            box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.16);
            border-radius: 8px;
        }

        &__text {
            display: flex;
            flex-direction: column;

            &__top {
                font-family: var(--font-sf-pro);
                color: var(--text-primary);
                font-size: 21px;
                font-style: normal;
                font-weight: 590;
                line-height: 24px;
                letter-spacing: 0.4px;
            }

            &__bot {
                font-family: var(--font-sf-pro);
                color: var(--text-secondary);
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 19px;
                letter-spacing: -0.43px;
            }
        }
    }

}


.center {
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    display: flex;
}

.sq-top-left {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    rotate: 90deg;

}

.sq-top-right {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    rotate: 180deg;

}

.sq-bot-left {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;

}