.dotted-link {

    display: flex;
    gap: 4px;
    align-items: center;
    transition: all .2s;

    &:hover {
        text-decoration: underline;
    }

    &__line {
        overflow: hidden;
        width: 100%;
        display: flex;
        border-top: 1px solid transparent;

        // Use border-image with a repeating-linear-gradient to simulate a dashed line.
        // The gradient paints 2px of color (#FFF8E7) then 2px transparent repeatedly.
        border-image: repeating-linear-gradient(to right,
                #FFF8E7 0,
                #FFF8E7 3px,
                transparent 3px,
                transparent 6px) 1 round;
    }
}


.copyright {
    display: flex;
    justify-content: space-between;
    max-width: 1668px;
    width: 100%;
    color: rgba(255, 248, 231, 0.80);
    font-size: 16px;
    font-style: normal;
    line-height: 20px;
    margin-top: 60px;


    @include media-sm {
        margin-top: 70px;
        margin-bottom: 15px;
    }
}


#footer-mobile {
    padding: 0;
    background-color: transparent;
    display: none;

    @include media-sm {
        display: flex;
    }

    .footer__links,
    .footer__team,
    .footer__form__text,
    .footer__reimagine {
        background-color: #121621;
    }



    .footer__app,
    .footer__container,
    .footer__links,
    .footer__art,
    .footer__form,
    .footer__team {
        width: 100%;
        overflow: hidden;
    }

    .footer__container {
        border: none;

    }

    img {
        background-color: transparent;
        border-top: var(--border-footer);
        border-bottom: var(--border-footer)
    }
}

#footer {
    .holes {
        display: none;
    }

    img {
        background-color: transparent;
        border-top: var(--border-footer);
        border-bottom: var(--border-footer);
    }

    .round-holes {
        display: none;
    }

    .footer__form__holes__container {
        border-top: var(--border-footer)
    }

    .footer__form__container,
    .footer__form__holes__container {
        background-color: transparent;
    }

    .footer__app {
        border-bottom: var(--border-footer)
    }

    .footer__app__container {
        margin: 0;
    }


}

.footer {
    --border-footer: 1px solid #FFF8E7;
    padding: 30px 30px 60px 30px;
    display: flex;
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    font-family: var(--font-sf-pro);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #0a0a0a;






    @include media-sm {
        padding: 15px;


        .footer__app,
        .footer__form__text,
        .footer__reimagine,
        .footer__team__year,
        .footer__links__home,
        .footer__links__contact,
        .footer__links__blog {
            padding-left: 15px;
            padding-right: 15px;
        }
    }


    &__form {
        @include media-sm {
            grid-area: form;
        }

        display: flex;
        flex-direction: column;



        &__holes {
            display: none;
            flex-direction: column;

            @include media-sm {
                display: flex;
            }

            &__container {
                display: flex;
                flex-direction: column;
                padding: 15px;
                background-color: #121621;
                gap: 10px;
                padding-bottom: 5px;

                span {
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    text-transform: uppercase;
                    color: #93918E;
                }
            }
        }


        &__state {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            display: flex;
            align-items: center;
            padding: 20px 25px;
        }

        &__container {
            display: flex;
            flex: 1;

            .arrow-btn {
                display: none;

                @include media-sm {
                    display: flex;
                }
            }

            @include media-sm {
                padding: 15px;
                background-color: #121621;

                .footer__form__input__label {
                    height: 42px;
                    margin-right: 10px;
                    width: 100%;
                    flex: 1;
                }

                .footer__form__input {
                    width: 100%;
                    flex: 1;
                }

                .email-submit {
                    display: none;
                }

                .arrow-btn {

                    width: 42px;
                    height: 42px;
                    background-color: white;
                    border-radius: 10px;
                    align-items: center;
                    justify-content: center;
                    color: black
                }

                // flex-direction: column;
                .footer__form__input,
                .footer__form__cta {
                    padding: 0;
                    border: none;
                    width: fit-content;
                }
            }
        }

        &__success {


            color: rgba(5, 9, 21, 1);
            background-color: #88FF00;
            border-radius: 10px;
            display: flex;
            height: 52px;
            padding: 10px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            width: 100%;
            font-size: 17px;
            font-style: normal;
            font-weight: 650;
            line-height: 22px;

            @include media-sm {
                position: absolute;
                left: 15px;
                right: 15px;
                bottom: 15px;
                width: auto;
                height: 42px;
            }

            &--error {
                background-color: #FF2200
            }
        }

        &__input {
            width: 100%;

            &__label {
                &:focus-within {
                    svg {
                        color: white;
                    }
                }

                svg {
                    color: #93918E;
                    transition: all .2s;
                }

                cursor: pointer;
                display: flex;
                align-items: center;
                padding: 10px 15px;
                height: 52px;
                width: 100%;
                box-sizing: border-box;

                gap: 10px;
                border-radius: 10px;
                background: rgba(255, 248, 231, 0.10);

                input {

                    width: 100%;
                    font-size: 19px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: -0.08px;
                    color: white;

                    &::placeholder {
                        color: #93918E;
                    }
                }
            }

        }

        &__cta {

            border-left: var(--border-footer);

            @include media-sm {
                width: 100%;
                border-left: none;
                border-top: var(--border-footer);

                .email-submit {
                    width: 100%;
                }
            }


        }

        &__cta,
        &__input {
            padding: 20px 25px;
            display: flex;
            align-self: center;
            justify-content: center;
        }

        &__bottom {
            display: flex;
            height: 90px;
            position: relative;

            @include media-sm {
                height: fit-content;
            }
        }

        &__text {
            display: flex;
            flex: 1;
            padding: 20px 25px;
            color: rgba(255, 248, 231, 0.80);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            border-bottom: var(--border-footer);

            @include media-sm {
                border-bottom: none;
            }
        }
    }

    &__team {
        border-left: var(--border-footer);
        border-right: var(--border-footer);

        @include media-sm {
            grid-area: team;
            border: none;
            border-top: var(--border-footer);
        }

        &__year {
            padding: 0 20px;
            white-space: nowrap;
            font-size: 42px;
            font-style: normal;
            font-weight: 540;
            line-height: 40px;
            letter-spacing: -1.35px;
            color: #93918E;
            border-bottom: var(--border-footer);
            border-top: var(--border-footer);
            height: 72px;
            display: flex;
            align-items: center;

            gap: 10px;


            @include media-md {
                font-size: 32px;
                line-height: 36px;
            }

            @include media-sm {
                justify-content: center;
                font-size: 24px;
                line-height: 28px;
                border-bottom: none;
            }

            span {
                color: #FFF8E7;
            }

            .three-letter {
                color: var(--accent);
            }

        }

        &__container {
            display: flex;
            height: 72px;
        }

        &__colors {
            flex: 1;
            display: flex;
            padding: 0 20px;
            align-items: center;
            border-right: var(--border-footer);


            div {
                border: 1px solid #FFF;
                display: flex;
                flex: 1;
                height: 20px;
            }
        }

        &__ny {
            display: flex;
            flex-direction: column;
            padding: 0 20px;
            width: fit-content;
            justify-content: center;

            h5 {
                font-size: 20.25px;
                font-style: normal;
                font-weight: 590;
                line-height: normal;
                color: rgba(255, 204, 0, 1);
            }

            span {
                font-size: 16px;
                font-style: normal;
                font-weight: 510;
                line-height: normal;
                color: rgba(147, 145, 142, 1);
            }
        }

    }


    &__reimagine {
        @include media-sm {
            grid-area: reimagine;
        }

        font-size: 48px;
        font-style: normal;
        font-weight: 540;
        line-height: 52px;
        padding: 20px 25px;
        color: rgba(255, 248, 231, 1);
        border-bottom: var(--border-footer);

        @include media-lg {
            font-size: 38px;
            line-height: 42px;
        }

        @include media-md {
            font-size: 28px;
            line-height: 32px;
        }
    }



    &__art {
        display: flex;
        align-items: flex-end;
        border-left: var(--border-footer);
        border-right: var(--border-footer);
        flex-direction: column;
        justify-content: flex-end;

        .round-holes {
            display: none;
        }

        @include media-sm {
            grid-area: art;
            border: none;

            img {
                background-color: #121621;

            }

            .round-holes {
                display: flex;
            }
        }
    }

    &__links {


        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);

        @include media-md {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, auto);
        }

        @include media-sm {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, auto);
        }







        &__home,
        &__blog {
            grid-row: 1 / span 2;

            @include media-md {
                grid-row: unset;
            }

            border-right: var(--border-footer);
        }

        &__home,
        &__blog,
        &__contact {
            padding: 20px 25px;
            display: flex;
            flex-direction: column;
            //  height: fit-content;
            gap: 2px;

            a {
                transition: all .2s;

                &:hover {
                    color: white;
                    text-decoration: underline;
                }

                color: rgba(255, 248, 231, 0.80);
                font-size: 16px;
                font-style: normal;
                font-weight: 510;
                line-height: 20px;
                letter-spacing: -1px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                // @include media-md {
                //     font-size: 14px;
                //     line-height: 18px;
                // }
            }

            h5 {
                color: #FFF;
                margin-bottom: 5px;
                font-size: 20.25px;
                font-style: normal;
                font-weight: 590;
                line-height: normal;

                @include media-md {
                    font-size: 16px;
                }
            }


        }


        &__home {
            @include media-md {
                grid-row: 1 / span 2; // from row line 1 to row line 2
                grid-column: 1 / 2; // from column line 1 to column line 2
                padding-bottom: 120px;


            }

            @include media-sm {
                grid-row: 1 / 2; // from row line 1 to row line 2
                grid-column: 1 / 2;
                padding-bottom: 20px;
                //   border-bottom: var(--border-footer);
            }
        }

        &__blog {
            @include media-md {
                grid-row: 1 / 2; // top row
                grid-column: 2 / 3; // from column line 2 to column line 3
                border: none;
            }
        }

        &__socials {
            border-top: var(--border-footer);
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px 10px;
            gap: 5px;

            @include media-md {
                grid-row: 2 / 3;
                grid-column: 1 / 2;
                height: fit-content;
                align-self: flex-end;
                justify-content: space-around;


            }

            @include media-sm {
                align-self: flex-start;
                grid-row: 3 / 3;
                grid-column: 1 / 3;
            }
        }

        &__contact {
            @include media-md {
                grid-row: 2 / 3; // bottom row
                grid-column: 2 / 3; // second column
                height: fit-content;
                align-self: flex-end;
                border-top: 1px solid #FFF8E7;
            }

            @include media-sm {
                align-self: flex-start;
                grid-row: 2 / 3;
                grid-column: 1 / 3;
            }
        }
    }



    &__container {

        display: grid;
        // height: 144px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 144px auto;
        border: 3px solid #FFF8E7;
        max-width: 1668px;


        @include media-sm {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto auto auto auto;
            grid-template-areas:
                "app"
                "links"
                "team"
                "art"
                "reimagine"
                "form";
        }
    }


    &__app {
        display: flex;
        padding: 20px 25px;
        border-bottom: var(--border-footer);
        gap: 20px;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 34px;
            background-color: #121621;
            z-index: -1;
        }

        &__wrapper {
            display: flex;
            flex-direction: column;
            width: 100%;
        }


        &__container {
            display: flex;

            gap: 25px;

            @include media-sm {
                margin-bottom: 34px;
            }
        }

        position: relative;

        .holes {
            display: none;
        }

        &__logo {
            display: flex;
        }

        @include media-sm {
            grid-area: app;
            border-bottom: none;

            .holes {
                display: flex;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
            }
        }

        &__links {
            display: flex;
            flex-direction: column;
            flex: 1;
            text-align: right;
            font-size: 16px;
            font-style: normal;
            font-weight: 510;
            line-height: normal;
            justify-content: space-between;
            gap: 4px;


        }


        &__domain {
            flex-direction: column;

            font-style: normal;
            font-weight: 540;
            font-size: 42px;
            line-height: 40px;
            letter-spacing: -1.35px;
            color: var(--accent);
            display: flex;
            flex: 1;

            @include media-lg {
                font-size: 32px;
                line-height: 36px;
            }

            @include media-sm {
                font-size: 24px;
                line-height: 28px;
            }

            h4 {

                &:nth-child(2) {
                    color: #FFF8E7;
                }
            }

        }
    }
}





.qr-footer {
    padding: 20px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    flex-direction: row;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    align-items: center;

    @include respond-to-phone(large) {
        // Adjustments for screens smaller than 1000px
        display: none;

    }

    &__code {
        border-radius: 8px;
        background-color: var(--text-primary);
        width: 100px;
        height: 100px;
        align-items: center;
        justify-content: center;
        display: flex;
        position: relative;
    }

    &__logo {
        height: 72px;
        display: flex;
        gap: 10px;
        align-items: center;

        img {
            box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.16);
            border-radius: 8px;
        }

        &__text {
            display: flex;
            flex-direction: column;

            &__top {
                font-family: var(--font-sf-pro);
                color: var(--text-primary);
                font-size: 21px;
                font-style: normal;
                font-weight: 590;
                line-height: 24px;
                letter-spacing: 0.4px;
            }

            &__bot {
                font-family: var(--font-sf-pro);
                color: var(--text-secondary);
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 19px;
                letter-spacing: -0.43px;
            }
        }
    }

}


.center {
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    display: flex;
}

.sq-top-left {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    rotate: 90deg;

}

.sq-top-right {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    rotate: 180deg;

}

.sq-bot-left {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;

}


.socials-link {
    border-radius: 5px;
    background-color: rgba(255, 248, 231, 0.10);
    width: 48px;
    height: 48px;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: all .2s;

    &:hover {
        background-color: rgba(255, 248, 231, 0.30);
        color: white;
    }

    &:active {
        background-color: rgba(255, 204, 0, 0.20);
        color: var(--accent);
    }
}