.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    padding: 20px 0px 10px 0px;

    .divider {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1px;
        background-color: rgba(147, 145, 142, 0.5);
    }

    &__cta {
        display: flex;
        padding: 5px;
        padding-left: 30px;
        font-size: 17px;
        font-style: normal;
        font-weight: 650;
        line-height: 22px;
        gap: 10px;
        align-items: center;

        transition: all .2s;

        &:hover {
            opacity: 0.8;
        }

        &:active {
            opacity: 0.6;
        }

        &__icon {
            color: #FFF8E7;
            height: 64px;
            width: 64px;
            align-items: center;
            justify-content: center;
            border: 1px solid currentColor;
            border-radius: 1000px;
        }
    }


    &__text {
        display: flex;
        flex-direction: column;
        gap: 10px;

        span {
            font-size: 16px;
            font-style: normal;
            font-weight: 510;
            line-height: 20px;

            color: rgba(147, 145, 142, 1);
            font-variant: all-small-caps;
        }

        h2 {
            color: rgba(255, 248, 231, 1);
            font-size: 48px;
            font-style: normal;
            font-weight: 270;
            line-height: 52px;
        }
    }
}

.category {

    &__container {
        gap: 5px;
        display: flex;
        align-items: center;
    }

    // Your existing button styles...
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 22px;
    font-weight: 590;
    color: rgba(255, 248, 231, 0.6);
    transition: all 0.2s ease-in;

    &:hover {
        color: white;
    }

    // Ensure the button is positioned relative
    position: relative;
    //  overflow: hidden;
}

.active-category {
    // You might no longer need these if the background indicator is visible,
    // but you can leave them if you want additional styling.
    color: #050915 !important;
    z-index: 1000;
}

.underline {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    background-color: var(--accent);
    border-radius: 5px;
}