.section-header {
    font-family: var(--font-sf-pro);
    display: flex;
    padding: 20px 45px 40px 0px;
    gap: 30px;
    align-items: center;

    border-radius: 10px;

    &--featured {
        background-color: var(--accent);
        padding: 20px 45px 30px 15px;

        .section-header__line {
            height: 80px;
            background-color: #212121;
        }


        .section-header__text {

            h2 {
                line-height: 74px;
                font-size: 74px;
                color: #212121;
                font-weight: 1000;
            }

            span {
                font-size: 32px;
                line-height: 36px;
                color: #212121;
            }
        }
    }

    &__line {
        width: 9px;
        height: 60px;
        border-radius: 2px;
        background: #FFF;
    }

    &__text {

        display: flex;
        flex-direction: column;
        gap: 10px;

        span {
            font-size: 28px;
            font-style: normal;
            font-weight: 590;
            line-height: 32px;
            letter-spacing: -1.35px;
            color: var(--color-category);
        }

        h2 {
            color: #FFF;

            font-size: 70px;
            font-style: normal;
            font-weight: 540;
            line-height: 74px;
            /* 105.714% */
            letter-spacing: -1.35px;
        }
    }
}


.active-category {
    text-decoration: underline;
    color: white !important;

}