.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    padding: 20px 0px 10px 0px;


    @include media-sm {
        flex-direction: column;
        align-items: flex-start;


    }

    .divider {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1px;
        background-color: rgba(147, 145, 142, 0.5);
    }

    &__cta {
        display: flex;
        padding: 5px;
        padding-left: 30px;
        font-size: 17px;
        font-style: normal;
        font-weight: 650;
        line-height: 22px;
        gap: 10px;
        align-items: center;

        transition: all .2s;

        @include media-sm {
            font-size: 16px;
            line-height: normal;
            width: 100%;
            justify-content: space-between;
            padding: 5px 0px;

            .link-button__icon {
                width: 40px;
                height: 40px;
                border: unset;
            }
        }

        &:hover {
            opacity: 0.8;
        }

        &:active {
            opacity: 0.6;
        }

        &__icon {
            color: #FFF8E7;
            height: 64px;
            width: 64px;
            align-items: center;
            justify-content: center;
            border: 1px solid currentColor;
            border-radius: 1000px;


        }
    }


    &__text {
        display: flex;
        flex-direction: column;
        gap: 10px;

        span {
            font-size: 16px;
            font-style: normal;
            font-weight: 510;
            line-height: 20px;

            color: rgba(147, 145, 142, 1);
            font-variant: all-small-caps;
        }

        h2 {
            color: rgba(255, 248, 231, 1);
            font-size: 48px;
            font-style: normal;
            font-weight: 270;
            line-height: 52px;

            @include media-sm {
                font-size: 42px;
                line-height: 46px;

                margin: 15px 0px;
            }
        }
    }
}


.blog-post-page__categories {
    display: flex;
    justify-content: space-between;
    overflow-x: visible;

    @include media-sm {
        overflow-x: hidden;
    }

    &__status {
        margin-right: auto;

        width: fit-content;


    }
}

.category {

    &__container {
        gap: 5px;
        display: flex;
        align-items: center;
        width: 100%;

        // @include media-sm {
        //     width: fit-content;
        // }

        overflow-x: visible;
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
            /* Chrome, Safari, Opera */
        }

        @include media-sm {
            overflow-x: scroll;
        }

        &__scroll {
            overflow-x: visible;
            width: calc(100vw - 15px);

            @include media-sm {
                overflow-x: scroll;
            }




            /* Firefox */
            display: flex;


            // @include media-sm {
            //     width: fit-content;
            // }

            @include media-sm {

                .divider {
                    display: flex !important;
                    min-width: 1px !important;
                }
            }
        }



        .divider {
            background-color: rgba(255, 248, 231, 0.60);
            width: 1px;
            height: 26px;
            margin-right: 5px;
            margin-left: 15px;
            display: none;
            min-width: 1px;
            z-index: 50;

            @include media-sm {
                display: flex;
            }
        }

    }

    // Your existing button styles...
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 22px;
    font-weight: 590;
    color: rgba(255, 248, 231, 0.6);
    transition: all 0.2s ease-in;

    &:hover {
        color: white;
    }

    // Ensure the button is positioned relative
    position: relative;
    //  overflow: hidden;
}

.active-category {
    // You might no longer need these if the background indicator is visible,
    // but you can leave them if you want additional styling.
    color: #050915 !important;
    z-index: 1000;
}

.underline {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    background-color: var(--accent);
    border-radius: 5px;
}