.corner-grid {
    display: grid;
    grid-template-columns: 37px 47px 37px;
    /* Column widths */
    grid-template-rows: 37px 47px 37px;
    /* Row heights */
    background-color: #FFCC00;
    width: fit-content;
    position: relative;
    overflow: hidden;
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    //  border: 1px solid #ccc;
    /* Optional border for visibility */
    // background-color: #f9f9f9;
    /* Optional background color */
}

.grid-item-10 {
    position: absolute;
    width: 84px;
    height: 84px;
    right: 0;
    top: 0;
    align-items: flex-start;
    justify-content: flex-end;
    z-index: 10;

    &::before {
        content: "";
        position: absolute;
        width: 90px;
        height: 90px;
        left: 0;
        bottom: 0;
        border-radius: 1000px;
        z-index: 0;
        /* Ensure the pseudo-element stays behind */
        background-color: #FFCC00;
    }

    .circle {
        svg {
            color: #010101;
        }

        width: 74px;
        height: 74px;
        border: 1px solid black;
        /* Ensure the border is defined here */
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 1000px;
        position: relative;
        /* Required for the pseudo-element */
        z-index: 1;
        /* Ensure parent stays on top */


    }


    /* Optional color to distinguish item 10 */
}