.blog-post-page {
    font-family: var(--font-sf-pro);
    padding: 60px 75px 200px 75px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    flex: 1;

    &__post {
        display: flex;
        flex-direction: column;

        .divider {
            width: 100%;
            height: 1px;
            background-color: rgba(147, 145, 142, 0.5);
            margin-bottom: 30px;
            margin-top: 10px;
        }

        p,
        li {
            color: rgba(255, 248, 231, 0.80);
            font-size: 18px;
            font-style: normal;
            line-height: 28px;

        }

        p {
            margin-bottom: 20px;
        }

        code {
            /* Break lines even in the middle of long words */
            word-break: break-all;
            /* Alternatively or additionally, ensure proper wrapping */
            overflow-wrap: break-word;
            white-space: pre-wrap;
        }

        .rich-text {
            display: flex;
            flex-direction: column;
            max-width: 100%;

            a {
                color: var(--accent);

                &:hover {
                    text-decoration: underline;
                }
            }

            h3 {
                font-size: 32px;
                font-style: normal;
                font-weight: 590;
                line-height: 36px;
                margin: 35px 0px 15px 0px;

                @include media-sm {
                    margin: 15px 0px 15px 0px;
                }
            }



            strong {
                font-weight: 590;
                color: rgba(255, 248, 231, 1)
            }

            ul,
            ol {
                margin-bottom: 20px;
                padding-left: 20px;
            }


            ul li {
                list-style-position: outside;
            }

            ol li {
                list-style-position: outside;
            }



            li {
                margin: 0;
                margin-bottom: 5px;
            }




        }


    }



    &__category {
        font-size: 20px;
        font-style: normal;
        line-height: 24px;
        color: rgba(147, 145, 142, 1);
        font-variant: all-small-caps;
        margin: 40px 0px 20px 0px;

        @include media-sm {
            margin: 25px 0px 15px 0px;
            font-size: 18px;
            line-height: normal;
        }

        transition: all .3s;

        &:hover {
            color: #FFF8E7;
            text-decoration: underline;
        }

    }

    &__container {
        display: flex;
        max-width: 1100px;

        &--contacts {

            .blog-post-page__category {
                &:hover {
                    text-decoration: none;
                    color: rgb(147, 145, 142);
                }
            }

            @include media-sm {
                align-items: center;
            }

            h1 {
                margin-bottom: 15px;
            }
        }

        @include media-sm {
            flex-direction: column;

            .blog-post-page__socials {
                width: 100%;
            }

            .blog-post-page__socials:nth-child(2) {
                display: none;
            }
        }

        h1 {
            white-space: pre-wrap;
            color: var(--accent);
            font-size: 62px;
            font-style: normal;
            font-weight: 540;
            line-height: 66px;


            @include media-sm {
                max-width: 90%;
                font-size: 40px;
                line-height: 36px;
            }
        }
    }

    &__author {
        display: flex;
        padding: 35px 0px 30px 0px;
        color: #FFF8E7;
        font-size: 16px;
        font-style: normal;
        line-height: 20px;
        gap: 20px;

        div {
            width: 1px;
            background-color: currentColor;
            height: 18px;
        }
    }


    &__container {
        display: flex;
        gap: 90px;
        margin-top: 110px;

        @include media-sm {
            margin-top: 20px;
            gap: 60px;
        }
    }



    &__socials {
        display: flex;
        width: 380px;
        flex-direction: column;
        padding: 30px;
        background-color: rgb(18, 22, 33);

        gap: 10px;



        &__container {
            gap: 30px;
            display: flex;
            flex-direction: column;
        }

        h4 {
            font-size: 20px;
            font-style: normal;
            font-weight: 540;
            line-height: 24px;
            color: rgba(255, 248, 231, 1);
        }

        &--submit {
            gap: 20px;
        }

        .subscribe-field__input {
            flex-direction: column;
            gap: 20px;

            .subscribe-field__cta,
            .email-submit {
                width: 100%;
                min-width: none;
            }

            .email-submit {

                span {

                    color: rgba(5, 9, 21, 1)
                }
            }
        }


        span {
            margin-bottom: 10px;
            font-size: 16px;
            font-style: normal;
            line-height: 20px;
            letter-spacing: -1px;


            color: rgba(255, 248, 231, 0.8)
        }


        a {
            &:hover {
                .socials-link {
                    background-color: rgba(255, 248, 231, 0.30);
                    color: white;
                }

                svg {

                    &:nth-child(2) {
                        transform: translateX(3px)
                    }
                }

                color: white;
            }

            &:active {
                .socials-link {
                    background-color: rgba(255, 204, 0, 0.20);
                    color: var(--accent);
                }

                svg {

                    &:nth-child(2) {
                        transform: translateX(5px)
                    }
                }

                color: var(--accent);
            }

            svg {
                position: relative;
                transition: transform .1s ease-in;


                &:nth-child(2) {
                    margin-left: auto;
                }
            }

            gap: 15px;
            font-size: 16px;
            font-style: normal;
            font-weight: 510;
            line-height: 20px;
            /* 125% */
            letter-spacing: -1px;
            align-items: center;
            display: flex;
            width: 100%;
        }
    }


    &__categories {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        max-width: 1200px;
        gap: 5px;
        min-height: 38px;
        z-index: 5;
        overflow: hidden;

        .section-sticker__iphone {
            display: none;
        }

        @include media-sm {
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;

            .section-sticker__iphone {
                display: flex;

                .section-sticker__iphone__text {
                    h5 {
                        color: white;
                    }
                }

            }

            .category {
                font-size: 19px !important;
                height: 33px !important;
                line-height: normal;
                display: flex !important;
                align-items: center;
            }
        }



        button {
            &:nth-child(1) {


                //  margin-right: auto;
                font-size: 24px;
                font-style: normal;
                font-weight: 510;
                line-height: 28px;

                @include media-sm {
                    margin-right: 0;
                }

                //    color: white !important;
            }
        }
    }







    // &__image {
    //     border-radius: 10px;
    //     overflow: hidden;
    //     width: 100%;
    //     height: auto;
    // }

    // &__meta {
    //     display: flex;
    //     align-items: center;
    //     justify-content: space-between;
    //     font-size: 26px;
    //     font-style: normal;
    //     font-weight: 510;
    //     color: var(--white-badge-text);
    //     line-height: 30px;
    // }

    // &__author {
    //     display: flex;
    //     align-items: center;
    //     background-color: var(--white-badge);
    //     border-radius: 1000px;
    //     padding: 10px 40px 10px 10px;

    //     gap: 20px;

    //     span {
    //         color: var(--white-badge-text);
    //         font-size: 32px;
    //         font-style: normal;
    //         font-weight: 590;
    //         line-height: 36px;
    //     }

    //     img {
    //         border-radius: 1000px;
    //         overflow: hidden;
    //     }
    // }

    // &__top {
    //     background-color: var(--blog-main-section);
    //     border-radius: 20px;
    //     display: flex;
    //     gap: 60px;
    //     flex-direction: column;
    //     max-width: 1200px;
    //     padding: 20px;


    // }

    // h1 {
    //     color: var(--white-headings);
    //     font-size: 86px;
    //     font-style: normal;
    //     font-weight: 650;
    //     line-height: 90px;
    // }

    // &__header {
    //     display: flex;
    //     flex-direction: column;
    //     gap: 20px;

    //     a {

    //         color: var(--white-headings);
    //         line-height: 40px;
    //         font-size: 36px;
    //         width: fit-content;

    //         &:hover {
    //             text-decoration: underline;
    //         }

    //     }
    // }

    // &__buttons {
    //     display: flex;
    //     justify-content: space-between;
    // }
}


// .blog-post-main {
//     width: 100%;
//     background-color: var(--blog-section);
//     display: flex;
//     flex-direction: column;
//     max-width: 1200px;
//     padding: 20px;
//     line-height: 50px;
//     border-radius: 20px;

//     h3 {
//         margin-top: 50px;
//         font-size: 38px;
//         font-style: normal;
//         font-weight: 590;
//         line-height: 52px;
//         color: var(--white-headings);
//     }

//     p,
//     li {
//         margin-top: 30px;
//         font-size: 27px;
//         font-style: normal;
//         font-weight: 400;
//         line-height: 50px;
//         color: var(--white-paragraph);

//         &:first-of-type {
//             margin-top: 0; // Remove top margin for the first paragraph
//         }
//     }

//     strong {
//         font-weight: 590;
//         margin-right: 10px;
//     }

//     ul,
//     ol {
//         margin-top: 30px;
//         padding-left: 20px;
//     }


//     ul li {
//         list-style-position: outside;
//     }

//     ol li {
//         list-style-position: outside;
//     }



//     li {
//         margin: 0;
//     }


// }